In [10]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('1.01. Simple linear regression.csv')

In [3]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [4]:
X = data['GPA']
y= data['SAT']

In [14]:
X=np.array(X)
y=np.array(y)

(84,)

In [20]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(units=1,input_shape=(1,))
])
model.compile(optimizer='sgd',loss='mean_squared_error')

In [21]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 1)                 2

=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [22]:
model.fit(X,y,epochs=15)

Epoch 1/15
3/3 [==============================] - 0s 2ms/step - loss: 2324145.5000
Epoch 2/15
3/3 [==============================] - 0s 2ms/step - loss: 444674.2500
Epoch 3/15
3/3 [==============================] - 0s 3ms/step - loss: 92676.6562
Epoch 4/15
3/3 [==============================] - 0s 2ms/step - loss: 27314.4707
Epoch 5/15
3/3 [==============================] - 0s 3ms/step - loss: 14391.9834
Epoch 6/15
3/3 [==============================] - 0s 2ms/step - loss: 12136.2793
Epoch 7/15
3/3 [==============================] - 0s 2ms/step - loss: 11644.6328
Epoch 8/15
3/3 [==============================] - 0s 2ms/step - loss: 11433.3789
Epoch 9/15
3/3 [==============================] - 0s 4ms/step - loss: 11423.7383
Epoch 10/15
3/3 [==============================] - 0s 2ms/step - loss: 11426.6416
Epoch 11/15
3/3 [==============================] - 0s 2ms/step - loss: 11437.3701
Epoch 12/15
3/3 [==============================] - 0s 2ms/step - loss: 11677.1055
Epoch 13/15
3/3 [==============================] - 0s 2ms/step - loss: 11403.3115
Epoch 14/15
3/3 [==============================] - 0s 2ms/step - loss: 11404.9082
Epoch 15/15
3/3 [==============================] - 0s 4ms/step - loss: 11498.6035

In [26]:
result=model.predict([5.0])
print("Expected SAT score for GPA 5.0: {:.0f}"
                 .format(result[0][0]))

1/1 [==============================] - 0s 44ms/step
Expected SAT score for GPA 5.0: 2675

In [32]:
result=model.predict([3.2])
print("Expected SAT score for GPA 3.2: {:.0f}"
                 .format(result[0][0]))

1/1 [==============================] - 0s 41ms/step
Expected SAT score for GPA 3.2: 1768